.container {
  padding: 20px;
  background: #96b0ce;
  border-radius: 8px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #96b0ce;
  margin-top: 20px;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 7px; /* Reduced gap between form elements */
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 5px;
}

.formGroup input,
.formGroup select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.submitButton {
  background: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.submitButton:hover {
  background: #1e40af;
}

.success {
  color: green;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #e8f5e9;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: gainsboro;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
