.body {
  display: flex;
  justify-content: center;
  padding: 40px;
  height: fit-content;
  color: #b4cded;
}

.leaderboardContainer {
  width: 80%;
  background-color: #1a3244;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  max-height: 80vh; /* Ensure the container doesn't exceed viewport height */
}

.leaderboardTitle {
  text-align: center;
  margin-bottom: 2rem;
  color: #b4cded;
  font-size: 2rem;
  font-weight: bold;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.tableHeader {
  background-color: rgba(177, 218, 252, 0.83);
}

.headerCell {
  padding: 15px;
  border: 2px solid rgba(2, 44, 78, 0.5);
  border-radius: 10px;
  text-align: left;
  font-weight: bold;
  color: #022c4e;
  margin-left: 20px;
}

.tableBody {
  background-color: #0d2338;
}

.tableRow:hover {
  background-color: #1a3555;
}

.tableCell {
  padding: 15px;
  border: 1px solid #4a90e2;
  color: #b4cded;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a3244;
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 10px;
  border: 2px solid #1a3244;
}

@media (max-width: 768px) {
  .leaderboardContainer {
    width: 100%;
    padding: 1rem;
  }

  .headerCell,
  .tableCell {
    padding: 10px;
  }

  .leaderboardTitle {
    font-size: 1.5rem;
  }
}
