.heading {
  text-align: center;
  margin-top: 60px;
  text-decoration: underline;
}
.loginContainer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.loginForm {
  background: #356aa6;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.loginForm h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: black;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
}

.formGroup input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.loginButton:hover {
  background-color: #0056b3;
}
